@font-face {
    font-family: 'Open Sans';
    src: url('./font/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('./font/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('./font/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('./font/OpenSans-Bold.ttf');
}