#infoPanelSwitcher {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-background-color: -second-base-color;
    -fx-text-fill: -text-color;
    
    -fx-font: 12 "Open Sans";
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#infoPanelSwitcher:hover {
    -fx-background-color: -base-color;
    -fx-border-width: 1;
    -fx-border-color: -border-base-color;
}

/* panel */
#fileInfo {
    -fx-background-color: -second-base-color;
    -fx-text-fill: -text-color;
    -fx-border-color: -border-base-color;
}

#fileInfo > .panel-title {
    -fx-background-color: -second-base-color;
    -fx-border: 1 1 1 1 !important;
    -fx-font-weight: bold;
    -fx-border-color: -border-base-color;
}

#fileInfo * {
    -fx-text-fill: -text-color;
}

#createdAtLabel, #modifiedAtLabel, #fileSizeLabel {
    -fx-font: 12 "Open Sans";
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.DependencyItem {
    -fx-border-width: 1;
    -fx-border-color: -border-base-color;
    -fx-text-fill: -text-color;
    -fx-background-color: -base-color;
    -fx-padding: 2;
}

.DependencyItem .link > .viewport {
    -fx-background-image: url( '/.data/img/ui/openLinkDark.png');
    -fx-background-size: 10 20;
    -fx-background-repeat: no-repeat;
}

.DependencyItem .link:hover > .viewport {
    -fx-background-position: 0 -10;
}

.DependencyItem:hover {
    -fx-background-color: -second-base-color;
}

.DependencyItem .link {
    -fx-background-color: derive(-icons-color, 40%);
}

.DependencyItem .link:hover {
    -fx-background-color: derive(-icons-color, -80%)
}



/* --- controll button --- */
.panel-toggle {
    -fx-background-color: #0000000F;
    -fx-pref-width: 16;
    -fx-pref-height: 25;
    -fx-padding: 5 2 5 5;
    -fx-border-radius: 3 0 0 3;
    -fx-background-radius: 3 0 0 3;
}

.panel-toggle:hover {
    -fx-background-color: -icons-color;
}

.panel-toggle:hover .arrow {
    -fx-background-color: -base-color;
}

.panel-toggle > .arrow {
    -fx-shape: 'm4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z';
    -fx-background-color: -icons-color;
}