* {
    -base-color: #f7f8fa;
    -second-base-color: #fafbfc;
    -text-color: black;
    -second-text-color: #444444;
    -tab-selected-border-color: skyblue;
    -tree-arrow-color: #444;
    -scroll-bar-color: #a4a4a4;
    -icons-color: #717171;
    -border-base-color: #e3e5e7;
}