/* JavaFX CSS Style with -fx- prefix */

@import "font.fx.css";
@import "tab-pane.fx.css";
@import "info-panel.fx.css";
@import "menu-bar.fx.css";
@import "tree.fx.css";
@import "context-menu.fx.css";
@import "svg-icons.fx.css";

@import "light.theme.fx.css";

* {
    -fx-font-family: 'Open Sans';
}

.root {
    -fx-background-color: -base-color;
    -fx-text-fill: -text-color;
}

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: -base-color;
    -fx-border: 0 0;
}

.scroll-pane:focused {
    -fx-background-color: -base-color;
}

#fileInfo .panel-title {
    -fx-font-weight: bold;
}


.about .label {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.about .title {
    -fx-font-size: 26px;
}

.about .hyperlink {
    -fx-font-size: 18px;
}

.DependencyItem .link {
    -fx-background-color: derive(-icons-color, 40%);
}

.DependencyItem .link:hover {
    -fx-background-color: derive(-icons-color, -80%)
}

.tooltip {
    -fx-text-fill: -text-color;
    -fx-background-color: -base-color;
}

.file-icon .label {
    -fx-font-weight: bold;
    -fx-text-fill: ladder(-second-text-color, white 45%, black 50%) !important;
}







