/* JavaFX CSS Style with -fx- prefix */

@import "font.fx.css";
@import "tab-pane.fx.css";
@import "info-panel.fx.css";
@import "menu-bar.fx.css";
@import "tree.fx.css";
@import "context-menu.fx.css";

@import "light.theme.fx.css";

* {
    -fx-font-family: 'Open Sans';
}

.root {
    -fx-background-color: -base-color;
    -fx-text-fill: -text-color;
}

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: -base-color;
    -fx-border: 0 0;
}

.scroll-pane:focused {
    -fx-background-color: -base-color;
}