.tab-pane {
    -fx-tab-min-width: 130;
}

.tab-pane .tab-header-area .headers-region {
    -fx-background-color: -base-color;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: -base-color;
}

.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.tab-pane .tab:selected {
    -fx-background-color: -second-base-color;
    -fx-focus-color: transparent;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: -tab-selected-border-color;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: -text-color;
}

.tab-pane .tab .tab-label {
    -fx-text-fill: -second-text-color;
    -fx-min-width: 110.0;
    -fx-font-weight: bold;
}

.tab-pane .tab-content-area {
    -fx-background-color: -second-base-color;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane .tab-header-area .tab {
    -fx-font-size: 1.05em;
    -fx-padding: 4 8 4 4 !important;
    -fx-background-insets: 0 0 0 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.code-tab-icon {
    -fx-shape: "M1.293,11.293l4-4A1,1,0,1,1,6.707,8.707L3.414,12l3.293,3.293a1,1,0,1,1-1.414,1.414l-4-4A1,1,0,0,1,1.293,11.293Zm17.414-4a1,1,0,1,0-1.414,1.414L20.586,12l-3.293,3.293a1,1,0,1,0,1.414,1.414l4-4a1,1,0,0,0,0-1.414ZM13.039,4.726l-4,14a1,1,0,0,0,.686,1.236A1.053,1.053,0,0,0,10,20a1,1,0,0,0,.961-.726l4-14a1,1,0,1,0-1.922-.548Z";
    -fx-background-color: -icons-color;
}

.code-tab-view {
    -fx-shape: "M12.406 13.844c1.188 0 2.156 0.969 2.156 2.156s-0.969 2.125-2.156 2.125-2.125-0.938-2.125-2.125 0.938-2.156 2.125-2.156zM12.406 8.531c7.063 0 12.156 6.625 12.156 6.625 0.344 0.438 0.344 1.219 0 1.656 0 0-5.094 6.625-12.156 6.625s-12.156-6.625-12.156-6.625c-0.344-0.438-0.344-1.219 0-1.656 0 0 5.094-6.625 12.156-6.625zM12.406 21.344c2.938 0 5.344-2.406 5.344-5.344s-2.406-5.344-5.344-5.344-5.344 2.406-5.344 5.344 2.406 5.344 5.344 5.344z";
    -fx-background-color: -icons-color;
}