
body {
    padding: 0px;
    margin: 0px;
    background-color: #fafbfc !important;
    margin-right: 5px;
}

pre {
    min-height: 100vh;
    border: 0px !important;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #fafbfc !important; }
pre .nocode { background-color: none; color: #000 !important; }
pre .str { color: #183691 !important; }                     /* string */
pre .kwd { color: #a71d5d !important; font-weight: bold }   /* keyword class, interface, var, as, ... etc */
pre .com { color: #969896 !important; }                     /* comment */
pre .typ { color: #795da3 !important; }                     /* type | classname */
pre .lit { color: #0086b3 !important; }                     /* literal */
pre .pun { color: #333    !important; }                     /* punctuation */
pre .pln { color: #333    !important; }                     /* const name, method name, function name plaintext */
pre .tag { color: #a71d5d !important; font-weight: bold }   /* html/xml tag    - lightyellow */
pre .atn { color: #969896 !important; font-weight: bold }   /* attribute name  - khaki */
pre .atv { color: #183691 !important; }                     /* attribute value */
pre .dec { color: #969896 !important; }                     /* decimal */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    min-width: 30px;
    color: #444 !important;
} /* IE indents via margin-left */


ul {
    margin: 10px;
}

li.L0, li.L1, li.L2, li.L3, li.L4,
li.L5, li.L6, li.L7, li.L8, li.L9 {
    list-style-type: decimal !important;
    background-color: #fafbfc !important;
    user-select: none !important;
}


::-webkit-scrollbar-corner { background: #fafbfc !important; } 
::-moz-selection { background: #F2F2F2 !important; }
::selection { background: #F2F2F2 !important; }