
body {
    padding: 0px;
    margin: 0px;
    background-color: #202631 !important;
    margin-right: 5px;
}

pre {
    min-height: 100vh;
    border: 0px !important;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #202631 !important; }
pre .nocode { background-color: none; color: #000 !important; }
pre .str { color: #ebff87 !important; } /* string  - pink */
pre .kwd { color: #b45bcf !important; font-weight: bold }
pre .com { color: #626483 !important; } /* comment - skyblue */
pre .typ { color: #00f769 !important; } /* type    - lightgreen */
pre .lit { color: #b45bcf !important; } /* literal - darkred */
pre .pun { color: #fff    !important; } /* punctuation */
pre .pln { color: #fff    !important; } /* plaintext */
pre .tag { color: #f0e68c !important; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b !important; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 !important; } /* attribute value - pink */
pre .dec { color: #98fb98 !important; } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    min-width: 30px;
    color: #AEAEAE !important;
} /* IE indents via margin-left */

ul {
    margin: 10px;
}

li.L0, li.L1, li.L2, li.L3, li.L4,
li.L5, li.L6, li.L7, li.L8, li.L9 {
    list-style-type: decimal !important;
    user-select: none !important;
}


::-webkit-scrollbar-corner { background: #202631 !important; } 
::-moz-selection { background: #282e38 !important; }
::selection { background: #282e38 !important; }